<h1>Main#lookup</h1>
<p>Find me in app/views/main/lookup.html.erb</p>
<p>Region: <%= @region %></p>
<p>Username: <%= @username %></p>
<p>Id: <%= @id.to_json %></p>
<p>Summoners: <%= @summoners %></p>
<p>Groups: <br/>
  <% @groups.each do |current, duo| %>
      <%= current.username %> has played with :
      <% duo.each do |summoner, number_of_matches| %>
          {<%= summoner.username %>: <%= number_of_matches %> / <%= @number_of_games[current] %> matches
          (<%= (100 * number_of_matches / @number_of_games[current].to_f).round(0) %>)%},
      <% end %>
      (looked at the last <%= @number_of_games[current] %> ranked games)<br/>
  <% end %>
</p>
<p>Errors: <%= @errors %></p>
